/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 13, 2022, 10:09:19 AM
    Author     : hyngu
*/

body {
    background-color: lightblue;
    color: darkblue;
    font-family: Tahoma;
}